<div class="container" >
  <div class="col-md-9 col-md-offset-1">
      <h2>Login</h2>
      <form name="form"  #carRegistrationForm="ngForm"  (ngSubmit)="loginUser()">
        <div class="form-group" [class.has-error]="email.invalid && email.touched">
            <label for="email" class="control-label">Email</label>
            <input id="email" required email type="text" class="form-control" name="email"
                    [(ngModel)]="loginUserData.email" #email="ngModel">
            <span class="help-block" style="color: red;" *ngIf="email.errors?.required && email.touched">
              Email is required
            </span>
            <span class="help-block" style="color: red;" *ngIf="email.errors?.email && email.touched">
              Email is Invalid
            </span>
          </div>
          <div class="form-group"  [class.has-error]="password.invalid && password.touched">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="loginUserData.password"
               #password="ngModel" required />
              <span class="help-block " style="color: red;"
              *ngIf="password.invalid && password.touched">
              Password is required
           </span>
          </div>
          <div class="form-group">
              <button  class="btn btn-primary" [disabled]="!carRegistrationForm.valid">Login</button>
          </div>
      </form>
  </div>
</div>

